@charset "utf-8";

/* 전체 옵션 */
* {
	margin: 0 auto;
	padding: 0;
	font-family:   'Sans-Serif';
}
a {
	text-decoration: none;
	color:#333;
}
ul li {
	list-style:none;
}

/* 공통 */
.fl {
	float:left;
}
.tc {
	text-align:center;
}
/* 게시판 글쓰기 */
#board_reg {
	width:900px;
	position:relative;
	margin:0 auto;
}
#reg_area {
	margin-top:70px;
	font-size:14px;}
#in_reg_id {
	margin-top:30px;
}
#in_reg_id textarea {
	font-weight:bold;
	font-size:20px;
	color:#333;
	width: 450px;
	border:none;
	resize: none;
}
#in_title {
	margin-top:30px;
}
#in_title textarea {
	font-weight:bold;
	font-size:26px;
	color:#333;
	width: 900px;
	border:none;
	resize: none;
}
.wi_line {
	border:solid 1px lightgray;
	margin-top:10px;
}
#in_content {
	margin-top:10px;
}
#in_content textarea {
	font:14px;
	color:#333;
	width: 900px;
	height: 400px;
	resize: none;
}
#bt_se {
	width:900px;
}
#reg{
	margin-top:20px;
	float: right;
}
#list{
	margin-top:20px;
	float: left;
}